/* Layout Template Rules */
.layouttemplate {
  width: 800px;
  margin-bottom: 20px;
  height: 800px;
  background-color: grey;
}

/* Styles For Layout One */



/* Styles For Layout Two */



/* Styles For Layout Three */
